.medicine-details {
  display: grid;
  grid-template-columns: 9fr 3fr;
  padding: 6rem 10rem 6rem 10rem;
  grid-column-gap: 4rem;
}

.branded {
  background: #efefef;
  padding: 0.4rem 2rem 0.4rem 2rem;
  color: #4f4f4f;
  width: 6%;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.offers-div {
  /* display: flex; */
  background: #e8e8e8;
  padding: 0rem 1rem 1rem;
  border-radius: 8px;
}

.offer-item {
  display: flex;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.description {
  border: 1px solid #ebebeb;
  margin: 0rem 10rem 1rem 10rem;
  padding: 3rem;
  text-align: justify;
}

.available-distributor {
  margin: 4rem 10rem 4rem 10rem;
}

.dist-name {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgba(150, 0, 24, 0.52);
  box-shadow: 0px 2px 4px rgba(150, 0, 24, 0.26);
  border-radius: 10px;
}
.count {
  display: flex;
}
