.title-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.offers-div {
  padding: 0rem 1rem 1rem;
}

.med-details-div {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 4rem;
  margin: 0% 10% 20% 10%;
}

.medicine-quantity {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}
.quantity-inp {
  outline: none;
  border: none;
  width: 2rem;
  font-size: 1rem;
  border-radius: 8px;
}

.proceed-btn {
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
  margin: 2rem 0rem;
  background: #960018;
  border-radius: 8px;
  outline: none;
  border: none;
}

.rate-phone {
  display: flex;
  justify-content: space-between;
}

.pq {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .med-details-div {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }
}

@media (max-width: 720px) {
  .title-div {
    grid-template-columns: 1fr;
  }
  .forPhone {
    display: none;
  }
  .rate-phone {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
