.product-div {
  display: grid;
  grid-template-columns: 3fr 9fr;
  padding: 6% 10%;
  grid-column-gap: 4rem;
}

.medicine-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.brand-img {
  width: 100%;
}
.filter {
  display: flex;
  justify-content: space-evenly;
}

.select-filter {
  display: flex;
}
.form-select {
  background: #f9f9f9;
  padding: 1rem;
}

.categories {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 1rem;
}
hr {
  background: #f7f7f7;
}

.distributor-input {
  background: #f9f9f9;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 1rem;
  width: 90%;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.distributor,
.price,
.apply-div {
  margin-top: 2rem;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 1rem;
}
.apply-div {
  margin-bottom: 1rem;
}

.apply-btn {
  outline: none;
  border: none;
  border-radius: 10px;
  background: #962b1a;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  padding: 0.8rem;
}

@media (max-width: 1220px) {
  .medicine-list {
    grid-template-columns: 3fr 3fr 3fr;
  }
  .product-div {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 4%;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .medicine-list {
    grid-template-columns: 3fr 3fr;
  }
  .product-div {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 4%;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 720px) {
  .medicine-list {
    grid-template-columns: 1fr;
  }
  .product-div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4%;
    grid-column-gap: 1rem;
  }
  .filter {
    display: flex;
    flex-direction: column;
  }
}
