body {
  margin: 0px;
  padding: 0px;
}

.signup-body {
  display: grid;
  grid-template-columns: 6fr 6fr;
  height: 100vh;
  /* overflow-y: hidden; */
}

.div-4-data {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-gap: 1rem 4rem;
}

.form-div {
  overflow: scroll;
  height: 100vh;
}

@media (max-width: 1024px) {
  .div-4-data {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .big-img-div {
    width: 60vh;
  }
  .form-div {
    padding: 3%;
  }
  .register-button {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .div-4-data {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 70%;
  }
  .big-img-div {
    width: 100%;
  }
  .form-div {
    margin: 2% 8%;

    /* overflow: none; */
  }
  .register-button {
    width: 50%;
  }
  .signup-body {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
